.home{
    .collection{
        margin-top: 40px;
        .info{
            .heading{
                color:aliceblue;
            }
        }
        
    }
    .content{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 50px;
        flex-wrap: wrap;
       
    }
}