.product{
    width:30%;
    margin:10px;
    border:4px solid gray;
    border-radius: 15px;
   
    
    .product-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .image-container{
            width:50%;
            img{
                width:100%;
                aspect-ratio: 3/2;
            }
        }
        .info-container{
            
            margin-inline: 25px;
            p{
                color:whitesmoke;
            }
            .product-price{
               
                display: flex;
                justify-content: center;
                color:goldenrod;
                font-size:1.5em;
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
}